body {background-color: white; font-family: monospace, Courier New; font-size: 4vw;}
#logo {width:100%;}
#container {width:95%; margin-top:5%; margin-left:2.5%; margin-right:2.5%; padding:0px;}
.image {width:100%; margin-top: 4%}
.student {float: left; padding-left:5%;}
.date {float: left; padding-bottom: 0%}
a {color:black}
a:hover {color:grey;}
a:active {color:black}
#footer {font-size:14px; font-weight:bold; padding-bottom: 5%;padding-top: 10%;}


@media only screen and (min-width: 800px) {
body {background-color: white; font-family: monospace, Courier New; font-size: 1.5vw;}
#container {width:60%; margin-top:5%; margin-left:10%; margin-right:30%; padding:0px;}
#logo {width:50%;}
}

@media only screen and (min-width: 1200px) {
body {background-color: white; font-family: monospace, Courier New; font-size: 1vw;}
#container {width:40%; margin-top:5%; margin-left:15%; margin-right:45%; padding:0px;}
#logo {width:50%;}
}